.background{
    background-image: url(src\assets\Images\backgorund3.png);
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}

p .text-muted{
  color: black;
}